<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <p>It seems like you forgot your password for Referral Track website. Click the link below to reset your password.</p>
    <a href="{{ resetLink }}">Reset Password</a>
    <p>If you did not forget your password, please disregard this email.</p>
</body>
</html>
